@import "../../app/theme/styles/mixins.scss";

.nav {
  padding: 10px 4%;
  background-color: transparent;
}
.scrolled {
  background-color: white;
}

.burguer{
  display: none;

  @include responsive(md) {
    display: flex;
    background-color: transparent;
    border: 1px solid black;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;

  @include responsive(md) {
    display: none;
    
    &.is-open{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.toggle{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 70px;
}

li {
  color: #000000;
  padding-right: 20px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

li:hover {
  color: #06044d;
  transition: 0.4s ease-in-out;
}
