<div class="footer">
  <div class="content">
    <div class="social-medias">
      <a
        href="https://www.linkedin.com/in/luispaulobrito/"
        target="_blank"
        class="social-media"
      >
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a
        href="https://github.com/luispaulobrito"
        target="_blank"
        class="social-media"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://wa.me/5583999195876"
        target="_blank"
        class="social-media"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
    <div class="elementor-widget-container">
      <p>Copyright 2023 – Luis Paulo Brito</p>
    </div>
  </div>
</div>
