<h2>Sobre mim</h2>

<p>
  <strong> Olá! Me chamo Luís Paulo e sou um desenvolvedor full stack.</strong>
  Gosto muito da área de tecnologia, e tenho certeza que posso contribuir em
  qualquer time com as minhas habilidades
</p>
<p>
  Estou sempre me desafiando com novos projetos e participando de comunidades de
  programação para buscar feedback de outros desenvolvedores e desenvolvedoras.
  Além de tentar ajudar essas pessoas com o que eu já aprendi. 😁
</p>
<p>Além disso, gosto de filmes, séries e futebol.</p>
