@import "../../app/theme/styles/mixins.scss";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  background-color: #9d9deb;

  @include responsive(sm) {
    height: 50rem;
  }
}

.skills h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  padding-bottom: 4rem;
}

p{
    display: flex;
    align-items: center;
}

i{
    font-size: 13px;
    color: #044d8d;
    padding-right: 5px;
}

// .container-content {
//   display: flex;
//   justify-content: center;
//   margin: 3rem;

//   @include responsive(sm) {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin: 2rem;
//   }
// }

.content {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;

  @include responsive(sm) {
    font-size: 1rem;
  }
}
