<div class="skills">
    <h2>Habilidades</h2>
    <div class="container-content">
      <div class="content">
        <div class="technologies">
            <p *ngFor="let technologies of firstColumnTechnologies"> <i class="fa-solid fa-square"></i> {{ technologies }}</p>
        </div>
        <div class="technologies">
            <p *ngFor="let technologies of secondColumnTechnologies"> <i class="fa-solid fa-square"></i> {{ technologies }}</p>
        </div>
        <div class="technologies">
            <p *ngFor="let technologies of thirdColumnTechnologies"> <i class="fa-solid fa-square"></i> {{ technologies }}</p>
        </div>
      </div>
    </div>
  </div>
  