@import "mixins.scss";

.background {
  background: url(../../../assets/images/header.jpg) no-repeat center
  center fixed;
  background-size: cover;
  width: 100%;
  height: 40rem;
  
  @include responsive(md) {
    background: url(../../../assets/images/header-mobile.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
