@import "../../app/theme/styles/mixins.scss";

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60rem;
  background-color: #00000829;
  @include responsive(sm) {
    height: 50rem;
  }
}

.resume h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  padding-bottom: 4rem;
}

i {
  font-size: 16px;
  color: #070707;
  padding-right: 8px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;

  @include responsive(sm) {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

.language {
  display: flex;
  padding-bottom: 1rem;
}

.language p,
img {
  padding-right: 0.5rem;
}

.language .name,
.course .name,
.experience .name {
  font-weight: 600;
}

.language .level,
.course .institution,
.experience .institution {
  font-style: italic;
}

.course .year,
.experience .year {
  display: flex;
  justify-content: center;
  padding: 0.4rem 0;
  background-color: aliceblue;
}

.experience,
.course {
  display: flex;
  padding-bottom: 1rem;
  align-items: flex-start;
  width: 17rem;
}
