@import "../../app/theme/styles/mixins.scss";

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50rem;
  background-color: #00000829;
  @include responsive(sm) {
    height: 50rem;
  }
}

.resume h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  padding-bottom: 4rem;
}

i{
    font-size: 13px;
    color: #044d8d;
    padding-right: 5px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;

  @include responsive(sm) {
    font-size: 1rem;
  }
}

h3{
  font-size: 1.4rem;
  font-weight: 600;
}

p{
  font-size: 1rem;
}

.language{
  display: flex;
  padding-bottom: 1rem;
}

.language p, img{
  padding-right: 0.5rem;
}

.language .name{
  font-weight: 600;
}

.language .level{
  font-style: italic;
}

.course{
  padding-bottom: 1rem;
}

.experience{
  padding-bottom: 1rem;
}