@import "../../app/theme/styles/theme.scss";
@import "../../app/theme/styles/mixins.scss";

.background{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    color: #1f2435;
    margin: 0 0 20px 3px;
    font-size: 16px;
    font-weight: normal;
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;
}

.nome{
    font-weight: 600;
    font-size: 80px;
    line-height: 1.1;
    margin: 0;
    font-family: "Inter";
    color: #1f2435;

    @include responsive(md) {
        font-size: 40px;
    }

}

.cargo{
    color: #1f2435;
    
    @include responsive(md) {
        font-size: 15px;
    }
}

.social-medias{
    display: flex;
    align-items: center;
}

.social-media i{
    font-size: 24px;
    width: 40px;
    color: #2b459d
}
.social-media i:hover{
    color: #1f2435;
}